doctype html
html(lang="en")
  head
    title= data
    script(src='/bower_components/jquery/jquery.min.js')
    script(src='/bower_components/jquery/jquery-migrate.min.js')
    script(src='/bower_components/socket.io-client/dist/socket.io.min.js')
    script(src='/bower_components/tagcanvas/index.js')
    script(src='/client.js')
    link(href="/styles.css",rel="stylesheet",type="text/css")
  body
    #canvasContainer
        canvas#canvas(width=10,height=10)
            p template text
    #tags
        ul
    ul#trends

